# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
staticfiles/
media/
.db.sqlite3
*.sqlite3

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
